Library/Artifacts/8c/8cb2bf1d22bdab1f4c86be0a35e3d97a
Library/Artifacts/8c/8cd4e49ec5254b22176d1f4a0818ef37
Library/
Logs/
obj/
Temp/
UserSettings/
.vs/

# Maybe these will be needed in the future
#*.sln
#*.vsconfig
#*.csproj
